
body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-image: url("img/wot-masthead-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  letter-spacing: 1px;
}

h2 {
  font-size: 42px;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  color: #6a787c;
  text-align: center;
  margin: 0 auto;
}

img {
  border: 0;
}

.title-special {
  color: #bdd436;
  font-weight: bold;
}

#blue-title {
  color: #40666d;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.masthead {
  padding-top: 80px;
  margin: 0 auto;
  max-width: 760px;
}

.main {
  font-size: 155px;
  line-height: 140px;
  display: block;
  margin-bottom: 35px;
  text-align: center;
}

.digi {
  font-size: 22px;
  font-weight: 500;
  text-align: left;
  margin-left: 2em;
  display: block;
  text-align: left;
}

.sub-head {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 0 20%;
  display: block;
}

.cta-box {
  text-align: center;
  margin: 0 auto;
  padding: 50px 0;
}

.cta-btn {
  background: #bdd436;
  border: 2px solid #bdd436;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 11px 36px;
  border-radius: 25px;
  font-family: 'Lato', sans-serif;
}

.cta-btn:hover {
  background: #c8e23A;
  border: 2px solid #c8e23A;
}

.light-gray-back {
  background-color: #F0F0F0;
}

.dark-gray-back {
  background-color: #6A787C;
}

.white-box {
  background-color: #ffffff;
  margin: 0 auto;
  width: 50%;
}

.address-box {
  background-color: rgba(19, 32, 35, 0.8);
}

.wilmington {
  background-image: url("img/wilmington.jpg");
}

.asheville {
  background-image: url("img/asheville.jpg");
}

footer {
  background-color: #F6F6F6;
}

.white-box-text {
  font-size: 24px;
  color: #40666d;
  text-align: center;
  margin-bottom: 0;
  padding: 15px 15px 0 15px
}

#first-white {
  padding-bottom: 15px;
}

.small {
  font-size: 16px;
  padding: 0 15px 15px 15px;
  font-weight: 500;
  color: #858585;
  text-align: center;
  margin-top: 0;
}

.privacy {
  color: #bdd537;
  letter-spacing: 1px;
  font-size: 10px;
  text-decoration: none;
}

.copyright {
  color: #6A787C;
  letter-spacing: 1px;
  font-size: 12px;
}
